<html>

<head>
  <title>Hockey</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400,500,500i,700|Pacifico|Wendy+One"
    rel="stylesheet">
  <link href="css/style2.css" rel="stylesheet">
</head>

<body>
  <div class="header">
    <div class="ui secondary  menu ">
      <div class="ui container">
        <div class="ui item logo">
          <a href="/"><i class="hockey puck icon"></i>Hockey</a>
        </div>
        <div class="right menu">
          <div class="ui item">
            <a href="/news" class=" nav">News</a>
          </div>
          <div class="ui item">
            <a href="#" class=" nav">Scoreboard</a>
          </div>
          <div class="ui item">
            <a href="#" class=" nav">Players</a>
          </div>
          <div class="ui item">
            <a href="/about" class=" nav">About</a>
          </div>
          <div class="ui item">
            <a href="/login" class=" nav">Login</a>
          </div>
          <div class="ui item">
            <a href="/register" class=" nav">SignUp</a>
          </div>
          <div class="ui item">
            <a href="/register_admin" class=" nav">Admin</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="home-banner">
        <!-- <p><span>T</span>he most affordable software for</p>
        <p> hockey organizations.</p> -->
        <p>Library staff will use the Local Library website to store information about books and borrowers, while
          library members will use it to browse and search for books, find out whether there are any copies available,
          and then reserve or borrow them. In order to store and retrieve information efficiently, we will store it in a
          database.

          Express apps can use many different databases, and there are several approaches you can use for performing
          Create, Read, Update and Delete (CRUD) operations. This tutorial provides a brief overview of some of the
          available options and then goes on to show in detail the particular mechanisms selected.</p>
      </div>
    </div>
  </div>

  <!--Feature section-->

  <!-- <section class="feature">
    <h2 class="animated  tada">About Us</h2>
    <div class="ui three column stackable grid">
      <div class="row">
        <div class="column">
          <i class="user icon"></i>
          <h3 class="animated bounce">Member Profiles</h3>
          <p>Manage team roster and member profiles easily. Get all contact information
            in one place for better communication. Print roster for registrations (tournaments etc.).</p>
        </div>
        <div class="column">
          <i class="calendar alternate icon"></i>
          <h3 class="animated bounce">Team Schedule</h3>
          <p>View all events for a single or multiple teams in one calendar. Synchronize
            calendars with mobile devices. Optionally, use event rosters and save time and
            confusion</p>
        </div>
        <div class="column">
          <i class="id card icon"></i>
          <h3 class="animated bounce">Dashboard</h3>
          <p>Our dashboard make your life much more simpler.It can help you manage your different teams and it's
            players.
            You can even upload your game memories and watch them later on.
          </p>
        </div>
      </div>
    </div>
  </section> -->


</html>