<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
</head>
<body>
  <h1> Home Page </h1>
  <a href="/register"> Register</a> <br/>
  <a href="/register_admin"> Register as Admin</a> <br/>
  <a href="/login">Login</a>
</body>
</html> -->
<html>

<head>
  <title>Hockey</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400,500,500i,700|Pacifico|Wendy+One"
    rel="stylesheet">
  <link href="css/style3.css" rel="stylesheet">
</head>

<body>
  <div class="header">
    <div class="ui secondary  menu ">
      <div class="ui container">
        <div class="ui item logo">
          <a href="/"><i class="hockey puck icon"></i>Hockey</a>
        </div>
        <div class="right menu">
          <div class="ui item">
            <a href="/news" class=" nav">News</a>
          </div>
          <div class="ui item">
            <a href="#" class=" nav">Scoreboard</a>
          </div>
          <div class="ui item">
            <a href="/players" class=" nav">Players</a>
          </div>
          <div class="ui item">
            <a href="/about" class=" nav">About</a>
          </div>
          <div class="ui item">
            <a href="/login" class=" nav">Login</a>
          </div>
          <div class="ui item">
            <a href="/register" class=" nav">SignUp</a>
          </div>
          <div class="ui item">
            <a href="/register_admin" class=" nav">Admin</a>
          </div>
        </div>
      </div>
    </div>
    
  </div>

  <!--Feature section-->

  <section class="feature">
    <h2 class="animated  tada">Latest News</h2>
    <div class="ui three column stackable grid">
      <div class="row">
        <div class="column">
          <!-- <i class="user icon"></i>
          <h3 class="animated bounce">Member Profiles</h3> -->
          <img src="https://thehockeynews.com/.image/ar_16:9%2Cc_fill%2Ccs_srgb%2Cg_xy_center%2Cq_auto:good%2Cw_640%2Cx_1565%2Cy_472/MTg5MDU4MzM5MjM2MjI2ODcz/usatsi_9557955.webp" alt="">
          <h3><a href="https://thehockeynews.com/news/iihf-strips-russia-as-host-of-2023-world-championship">IIHF STRIPS RUSSIA AS HOST OF 2023 MEN'S WORLD CHAMPIONSHIP</a></h3>
          <p>The IIHF has officially stripped Russia of its hosting duties for the 2023 men's World Hockey Championship.</p>
        </div>
        <div class="column">
          <!-- <i class="calendar alternate icon"></i>
          <h3 class="animated bounce">Team Schedule</h3> -->
          <img src="https://thehockeynews.com/.image/ar_16:9%2Cc_fill%2Ccs_srgb%2Cg_faces:center%2Cq_auto:good%2Cw_320/MTg1MDUxMjUxNTE4OTQwNTA1/robin-lehner.webp" alt="">
          <h3><a href="https://thehockeynews.com/news/iihf-strips-russia-as-host-of-2023-world-championship">Vegas Golden Knights goaltender Robin Lehner will undergo season-ending surgery to repair a lower-body injury.</a></h3>
          <p>The IIHF has officially stripped Russia of its hosting duties for the 2023 men's World Hockey Championship.</p>
        
        </div>
        <div class="column">
            <img src="https://thehockeynews.com/.image/ar_16:9%2Cc_fill%2Ccs_srgb%2Cg_xy_center%2Cq_auto:good%2Cw_320%2Cx_2822%2Cy_972/MTg5MDM4MjQ3NjQ3NjUxMTg3/usatsi_18148290.webp" alt="">
            <h3><a href="https://thehockeynews.com/news/iihf-strips-russia-as-host-of-2023-world-championship">IIHF STRIPS RUSSIA AS HOST OF 2023 MEN'S WORLD CHAMPIONSHIP</a></h3>
            <p>The Premier Hockey Federation has appointed Reagan Carey to the role of league commissioner..</p>
          
        </div>
      </div>
    </div>
  </section>

  <!--sport section-->

  
 
  <!--Developers section-->
  
  <footer>
    <h3><i class="hockey puck icon"></i>Hockey</h3>
    <p>&copy 2022 Hockey</p>
  </footer>
</body>

</html>