<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
</head>
<body>
  <h1> Home Page </h1>
  <a href="/register"> Register</a> <br/>
  <a href="/register_admin"> Register as Admin</a> <br/>
  <a href="/login">Login</a>
</body>
</html> -->
<html>

<head>
  <title>Hockey</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400,500,500i,700|Pacifico|Wendy+One"
    rel="stylesheet">
  <link href="css/style4.css" rel="stylesheet">
</head>

<body>
  <div class="header">
    <div class="ui secondary  menu ">
      <div class="ui container">
        <div class="ui item logo">
          <a href="/"><i class="hockey puck icon"></i>Hockey</a>
        </div>
        <div class="right menu">
          <div class="ui item">
            <a href="/news" class=" nav">News</a>
          </div>
          <div class="ui item">
            <a href="#" class=" nav">Scoreboard</a>
          </div>
          <div class="ui item">
            <a href="/players" class=" nav">Players</a>
          </div>
          <div class="ui item">
            <a href="/about" class=" nav">About</a>
          </div>
          <div class="ui item">
            <a href="/login" class=" nav">Login</a>
          </div>
          <div class="ui item">
            <a href="/register" class=" nav">SignUp</a>
          </div>
          <div class="ui item">
            <a href="/register_admin" class=" nav">Admin</a>
          </div>
        </div>
      </div>
    </div>


    <!--Feature section-->

    <section class="feature">
      <h2 class="animated  tada">Top NHL Players</h2>
      <div class="ui three column stackable grid">
        <div class="row">
          <div class="column">
            <img
                src="https://cms.nhl.bamgrid.com/images/photos/319561608/640x360/cut.jpg" alt="">
            <a href="https://www.nhl.com/news/nhl-top-players-top-20-defensemen/c-319546918?tid=290583266">
              <h3 class="animated bounce">Top 20 Defensemens</h3>
            </a>

          </div>
          <div class="column">
            <img src="https://cms.nhl.bamgrid.com/images/photos/319584716/640x360/cut.jpg" alt="">
            <h3 class="animated bounce">Top 20 Wings</h3>

          </div>
          <div class="column">
            <img src="https://cms.nhl.bamgrid.com/images/photos/319621466/640x360/cut.jpg" alt="">
            <h3 class="animated bounce">Top 20 Centers</h3>

          </div>

        </div>
        <div class="row">
          <div class="column">
            <img src="https://cms.nhl.bamgrid.com/images/photos/319679624/640x360/cut.jpg" alt="">
            <h3 class="animated bounce">Top 10 Goalies</h3>

          </div>
          <div class="column">
            <img src="https://cms.nhl.bamgrid.com/images/photos/319761534/640x360/cut.jpg" alt="">
            <h3 class="animated bounce">Top Players 50-41</h3>

          </div>
          <div class="column">
            <img src="https://cms.nhl.bamgrid.com/images/photos/319795788/640x360/cut.jpg" alt="">
            <h3 class="animated bounce">Top Players 40-31</h3>

          </div>

        </div>
      </div>
    </section>


    <footer>
      <h3><i class="hockey puck icon"></i>Hockey</h3>
      <p>&copy 2022 Hockey</p>
    </footer>
</body>

</html>